<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- mybatis-3-mapper.dtd에 주목 -->
<mapper namespace="com.reservationalarm.reservation.ReservationDAO">
    <resultMap id="theater" type="Theater">
        <result column="theaterId" property="theaterId"/>
        <result column="areaName" property="areaName"/>
        <result column="theaterName" property="theaterName"/>
        <result column="areaCode" property="areaCode"/>
        <result column="theaterCode" property="theaterCode"/>
        <result column="theaterNameEng" property="theaterNameEng"/>
        <result column="areaNameEng" property="areaNameEng"/>
    </resultMap>

    <resultMap id="movie" type="Movie">
        <result column="movieId" property="movieId"/>
        <result column="movieTitle" property="movieTitle"/>
        <result column="movieImageSrc" property="movieImageSrc"/>
        <result column="movieScore" property="movieScore"/>
        <result column="openingDate" property="openingDate"/>
        <result column="reservationLink" property="reservationLink"/>
        <result column="isOpened" property="isOpened"/>
    </resultMap>

    <resultMap id="reservationJoinTheater" type="Reservation">
        <result column="reservationId" property="reservationId"/>
        <result column="desiredDate" property="desiredDate"/>
        <result column="hallType" property="hallType"/>
        <association property="movie" column="movie" resultMap="movie"/>
        <association property="theater" column="theater" resultMap="theater"/>
    </resultMap>
    
    <select id="selectById" resultMap="reservationJoinTheater">
        select * from reservation r, theater t, movie m where r.theaterId = t.theaterId and r.movieTitle = m.movieTitle
    </select>

    <select id="selectAll" resultMap="reservationJoinTheater">
        select * from reservation r, theater t, movie m where r.theaterId = t.theaterId and r.movieTitle = m.movieTitle
    </select>

    <insert id="insert" parameterType="Reservation" useGeneratedKeys="true" keyProperty="reservationId">
        insert into reservation (movieId, desiredDate, theaterId, hallType, isPushed) values (#{movieId}, #{desiredDate}, #{theaterId}, #{hallType}, #{isPushed})
    </insert>
</mapper>